//variables
$background: #f9fafa;
$btn-background: #26bba7;

.custom-select {
  select {
    margin-top: 0.5rem;
    border: 1px solid #94a1a4;
    font-size: 1rem;
    border-radius: 4px;
    height: 52px;
  }
}

.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 1.5rem 0;
  background: $background;
  border-bottom: 1px solid rgb(200, 200, 200);

  .search {
    margin-top: 0.5rem;
    border: 1px solid #94a1a4;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    min-width: 120%;
  }

  .launch-pad {
    select {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .min-year {
    select {
      min-width: 180%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .max-year {
    select {
      min-width: 180%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .btn-apply {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background: $btn-background;
    border: none;
    border-radius: 4px;
    padding: 1rem 3rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 992px) {
  .custom-select {
    select {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }

  .search-container {
    flex-direction: column;
    align-items: center;
    .search {
      min-width: 80vw;
      margin-bottom: 1rem;
    }
    .launch-pad {
      select {
        width: 80vw;
      }
    }
    .min-year {
      select {
        min-width: 80vw;
      }
    }
    .max-year {
      select {
        min-width: 80vw;
      }
    }
    .btn-apply {
      align-self: center;
      margin: 2rem 0;
    }

    h2 {
      margin-top: 0.8rem;
    }
  }
}
