// variables
$text-color: #94a1a4;
$text-header: #190f19;

.mission-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 12rem;
  border-bottom: 1px solid #f3f3f5;

  img {
    align-self: flex-start;
    max-height: 8rem;
    width: 8rem;
    margin-top: 0.5rem;
    margin-right: 2.5rem;
    object-fit: contain;
  }

  .mission-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: left;
    height: 100%;
    h2 {
      margin: 0;
      color: $text-header;
    }
    p {
      margin-bottom: 0;
      color: $text-color;
    }
  }

  .flight-number-container {
    text-align: center;
    h1 {
      color: $text-header;
      margin: 0;
      font-weight: 400;
    }
    p {
      color: $text-color;
    }
  }
}

.text-hl {
  color: $text-color;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .mission-item {
    padding: 1rem 2rem;
    flex-direction: column;
    width: auto;
    min-height: 22rem;
    img {
      align-self: center;
      max-height: 6rem;
      width: 6rem;
      margin: 0;
    }
    .mission-main-content {
      h2 {
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 0.8px;
        line-height: 1.5rem;
      }
      p {
        letter-spacing: 0.8px;
        line-height: 1.5rem;
      }
    }

    .flight-number-container {
      h1 {
        font-size: 1.5rem;
      }
      p {
        margin-top: 0;
      }
    }
  }
}
